<h2 class="profile-header">My Profile</h2>
<div class="my-container">
<div class='block-info block'>
	<p class='block-header'>
	INFO
	</p>

	
	<%= image_tag @the_user.avatar.url(:medium), class: "img-thumbnail info-block-img" %><br>

	<div class="info-block-details">
		<p>Name: <%= @the_user.first_name %></p>

		<p>From: <%= @the_user.hometown %></p>
		<p>Presently: <%= @the_user.current_city %> </p>
	</div>

	</div>

<div class='block-activities block'>
	<h4 class='block-header'>
	ACTIVITIES
	</h4>
	<% @created_events.each do |event| %>
	<div id="<%= event.id %>" class="panel panel-default">
	<p>Created an event <%= event.title %></p>
	<button data-event-id="<%= event.id %>" data-user-id="<%= @the_user.id %>" class="js-delete-event">Delete</button>
	</div>
	<% end %>
</div>
</div>