<h2>Home Page</h2>
<div class="home-mainbar">
	<%= link_to "Events", root_path, class: "btn btn-default home-events js-events" %>
	<p class='home-town js-town'>Town</p>
	</div>

<div class="my-container">
<%= link_to "+Create Event", new_user_event_path(current_user), class: "create-event" %>
<div class="block block-events">
	<p class="block-header">Events</p>
		<div class="sponsored-events">
	<h4>Promoted Events</h4>
	<% @all_events.each do |an_event| %>
	<% if an_event.sponsored %>
			<div class="sponsored-event">
			<%= image_tag an_event.avatar.url(:medium), class: "sponsored-event-photo" %><br>
			<%= an_event.title %>
			</div>
		<% end %>
	<% end %>
		</div>
		<div class="not-sponsored-events">
	<% @all_events.each do |an_event| %>
	<% if an_event.sponsored == false %>
		<div class='an-event panel panel-default'>
			<div class='panel-heading'><%= an_event.title %>
			</div>
			<div class='panel-body'>
			<p>Date: <%= an_event.date_date %> </p>
			<p>Time: <%= an_event.date_time %></p>
			</div>
			</div>
	<% end %>
	<% end %>
			</div>
</div>
</div>
