<div class="home-mainbar button-group">
	<button class='button button-primary home-events js-events'>EventsJS</button>
	<button class='home-town js-town button button-primary'>Town</button>
	</div>

<div class="my-container-events">
<%= link_to "+Create Event", new_user_event_path(current_user), class: "create-event" %>
<div class="block block-events">
	<p class="block-header">Events</p>
		<div class="sponsored-events">
	<h4>Promoted Events</h4>
	<% @all_events.each do |an_event| %>
	<% if an_event.sponsored %>
			<div class="sponsored-event">
			<%= image_tag an_event.avatar.url(:medium), class: "sponsored-event-photo" %><br>

      <%= an_event.title %>

			</div>
		<% end %>
	<% end %>
		</div>
		<div class="not-sponsored-events">
	<% @all_events.each do |an_event| %>
	<% if an_event.sponsored == false %>
		<div class='an-event panel panel-default'>
			<div class='panel-heading'><%= an_event.title %>
			</div>
			<div class='panel-body'>
			<p>Date: <%= an_event.date_date %> </p>
			<p>Time: <%= an_event.date_time %></p>
			</div>
			</div>
	<% end %>
	<% end %>
			</div>
</div>
</div>
<div class="my-container-map block block-town" style="display: none;">
<p class="block-header">Town Map</p>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11
          }); 

        var script = document.createElement('script');
        script.src = '/api/users';
        document.getElementsByTagName('head')[0].appendChild(script);

        var script = document.createElement('script');
        script.src = '/api/zipcodes';
        document.getElementsByTagName('head')[0].appendChild(script);
       
        var usersInfo = []

        window.handleUserData = function(results) {
          for (var aUser = 0; aUser < results.length; aUser ++) {
            usersInfo.push(results[aUser]);
          }
          // console.log(usersInfo);
        }

        var panels = ["panel-success", "panel-info", "panel-danger", "panel-warning", "panel-default"]

        window.zipContainingUsers = function(zipApiResults) {
          for (var i = 0; i < zipApiResults.length; i ++) {  

            $.ajax({
              type: "GET",
              url: `http://maps.googleapis.com/maps/api/geocode/json?address=${zipApiResults[i]}&sensor=false`,
              success: goToFunction,
              error: handleError
            })

          }  
        }
            function goToFunction(response) {
              var responseZero = response.results[0]
            var radiusLength = 0;
             usersInfo.forEach(function(element){
              if (parseInt(responseZero.address_components[0].long_name) == element.zipcode) {
                radiusLength += 1
              }
            });
              
              var theCircle = new google.maps.Circle({
                path: google.maps.SymbolPath.CIRCLE,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: responseZero.geometry.location,
                radius: 30 * (Math.log(radiusLength + 1) / Math.log(1.3))
              });
            attachUsers(theCircle, usersInfo, responseZero.address_components[0].long_name, responseZero.geometry.location);
              console.log(radiusLength)
              
            }
             //~~~~~~~~~~~~goToFunction ends

        function attachUsers(theIcon, userInfo, zip, latlong) {
         
           var usersWithSameZip = [];
           userInfo.forEach(function(element){
              if (zip == element.zipcode) {
                // console.log(element)
                usersWithSameZip.push(element)
              }
            });
           var str = ''
           usersWithSameZip.forEach(function(element) {
              var panelRandom = panels[Math.floor(Math.random() * panels.length)];
              str += `<div class='infowindow-div panel ${panelRandom}'><a href="/profile/user/${element.id}" class="panel-heading infowindow-namenumber" style="margin-bottom: 0;">${element.first_name}</a><p class="panel-body" style="margin-bottom: 0; padding: 5px;">Cell: ${element.phone}</p></div>`
           });
           // console.log(str);

          var infowindow = new google.maps.InfoWindow({
            content:  str,
            position: latlong
            });
            theIcon.addListener('click', function() {
            infowindow.open(theIcon.get('map'), theIcon);
        });
          
          }
          //~~~~~~~~~~~~~~attachUser ends
        
 
        if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(function(position) {
        		var pos = {
        			lat: position.coords.latitude,
        			lng: position.coords.longitude
        		};

        		
        		map.setCenter(pos);
        		var geoloccontrol = new klokantech.GeolocationControl(map);

        	}, function() {
         		var infoWindow = new google.maps.InfoWindow({map: map});
        		handleLocationError(true, infoWindow, map.getCenter());
        	});
        } else {
        	handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    //~~~~~~ functionInit ends
   	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}	
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJxV3P8qo_tH94oXeRWJt17e9ycePwjYw&callback=initMap">
    </script>
</div>