<!DOCTYPE html>
<html>
  <head>
    <title>Seeno</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/buttons.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/buttons.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Raleway:100|Work+Sans:100" rel="stylesheet">
  </head>

  <body>
    

    <% if user_signed_in? %>
      <div class="top-signed-in top">
        
        <img class="seeno-logo" src="/assets/seeno.svg" alt="Company Logo" onClick="goToHomePage()">
    <!-- login logout -->
        <div class="navbar logged-in button-group">
        <div class="topbar logout">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, type: "button", class: "button button-primary" %>
        </div>
        <div class="topbar setting">
          <%= link_to "Settings", edit_user_registration_path, type: "button", class: "button button-primary"%>
        </div> 
        <div class="topbar profile">
        <%= link_to current_user.first_name, profile_path(current_user), type: "button", class: "button button-primary" %> 
        </div>
        </div>
      </div>

      <% else %>

        <div class="top ">
        <a href="/">
  	       <img class="seeno-logo" src="/assets/seeno.svg" alt="Company Logo">
           </a>
  	       <div class="navbar logged-out button-group">
  		<div class="topbar login">
		<%= link_to "Login", new_user_session_path, class: "button button-large button-border button-plain" %>
		</div>
		<div class="topbar signup">
		<%= link_to "Sign up", new_user_registration_path, class: "button button-large button-border button-plain" %>
  		</div>
  	</div>
      </div>
    <% end %>
    


    <% if notice %>
    <p class = 'top-notice notice'><%= notice %></p>
    <% end %>

  <% if alert %>
    <p class='top-notice alert'><%= alert %></p>
    <% end %>



    <%= yield %>
    <footer><p>All rights reserved, made with &hearts;</p>  </footer>
  </body>


</html>
